<!DOCTYPE html>

<html lang="en-us">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <title>Coding is political</title>

  <link rel="stylesheet" href="{{ "/assets/css/just-the-docs.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/css/cip.css" | relative_url }}">


  <script type="text/javascript" src="{{ '/assets/js/just-the-docs.js' | relative_url }}"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>


<body class="cip_body">

  {{ content }}

</body>

</html>
